
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
   

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="container-fluid">
               <img src="~/img/wel.jpg"
                   
                   
                
            </div>
            <div class="card-body">
                Trường Đại Học Thủ Dầu Một <br />
                Lớp: KTPM01
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                LING109_Lập trình Web (2+0)_KTCN.CQ.01_NGUYỄN HỮU VĨNH
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
