
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mt-5">
        <h2 class="list-product-title">Sản Phẩm Mới</h2>
        <div class="list-product-subtitle">
            <p>Danh Sách Sản Phẩm</p>
        </div>
        <div class="row text-center">
             <h4 style="font:bold; color:red">Không Tìm Thấy Sản Phẩm!</h4>
        </div>
    </div>
</div>
